
body{
    background: #1d1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mododark{
    margin-left: 40px;
}
/* div primera parte */
#jugar{
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: #e0e0e0;
    color:#000;
}
#adelante{
    background-color: rgb(110, 110, 246);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
#adelante:hover{
    cursor: pointer;
    background-color: #000;
}
/* div para jugar */
#tablero{
    margin: 10px;
    display: none;
    
    
}
#error{
    color: rgb(237, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}
#encabezado{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    color: rgb(0, 0, 0);
}
.opcion:hover{
    background-color: rgb(40, 101, 224);
    cursor: pointer;

}
.opcion{
   
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background: #e0e0e0;
    color: rgb(0, 0, 0);

}
.ayuda {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(170, 168, 168);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
.ayuda:hover {
    background-color: #5136e9;
    box-shadow: 0px 15px 20px rgba(46, 46, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.ayuda:active {
    transform: translateY(-1px);
  }
#numpregunta{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}
.swal-modal{
    background-color: #000;
}