body{
    background: linear-gradient(346deg, rgba(2,0,36,1) 0%, rgba(25,91,123,1) 35%, rgba(27,74,123,1) 46%, rgba(33,65,123,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* div primera parte */
#jugar{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#comenzar{
    background-color: rgb(110, 110, 246);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
#comenzar:hover{
    cursor: pointer;
    background-color: #000;
}
/* div para jugar */
#tablero{
    margin: 10px;
    display: none;
    
    
}
#encabezado{
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.opcion:hover{
    background-color: rgb(40, 101, 224);
    cursor: pointer;

}
.opcion{
    background-color: #fff;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}
.ayuda {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(170, 168, 168);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
.ayuda:hover {
    background-color: #5136e9;
    box-shadow: 0px 15px 20px rgba(46, 46, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.ayuda:active {
    transform: translateY(-1px);
  }
#numpregunta{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}